body {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(240, 240, 240);
}

li {
	list-style: none;
}

select {
	float: right;
	appearance: none;
	border: 1px solid;
	font-family: 'Courier New', Courier, monospace;
	font-size: large;
    background-color: white;
}
