body {
	font-family: 'Courier New', Courier, monospace;
	background-color: rgb(240, 240, 240);
}

li {
	list-style: none;
}

.toolbar-elem {
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 1em;
	border: 1px solid;
	font-family: 'Courier New', Courier, monospace;
	font-size: x-large;
	background-color: white;
	padding: 0.2em;
	text-align: center;
	cursor: pointer;
}