body {
	font-family: 'Courier New', Courier, monospace;
}

li {
	list-style: none;
}

select {
	float: right;
	appearance: none;
	border: 1px solid;
	font-family: 'Courier New', Courier, monospace;
	font-size: medium;
    background-color: white;
}
